black
cmake
cython
dask
ffmpeg
flake8
ipython
jupyter
jupyter-book
jupyterlab
jupytext
line_profiler
matplotlib
mypy
numba
numpy
pandas
pybind11
pytest
scipy
seaborn
sphinx
sphinx-exercise
sphinx-inline-tabs
sphinxcontrib-bibtex
typer
