black
cmake
cppyy
cython
dask
ffmpeg
flake8
ipython
jupyter
jupyter-book
jupyterlab
jupytext
line_profiler
matplotlib
mypy
numba
numpy
pandas
pybind11
pytest
scipy
sphinx
sphinx-inline-tabs
sphinxcontrib-bibtex
typer
